* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/patt.png);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row:after, .menu:after, .btn-search::after, form::after, .basket:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    ;
    padding: 25px 0;
}

.col-md-3 {
    width: 25.64%;
}

.col-md-6 {
    width: 48.72%;
}

[class*="col-"] {
    float: left;
}

.logo {
    margin-top: 7px;
    margin-left: 1px;
}

.menu li {
    width: 25%;
    float: left;
    border-right: 1px solid #2b71b9;
}

.menu li:first-child {
    border-left: 1px solid #2b71b9;
}

.menu a {
    display: block;
    text-decoration: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    color: #2b71b9;
    font-size: 21px;
}

.menu a:hover{
    background-color: #2b71b9;
    color: white;
}

.col-md-2 {
    width: 86.6%;
    
}

.col-md-1 {
    width: 13.4%;
    /* position: relative;
    top: -30px;
    left: 260px; */
}

.search{
    width: 200px;
    height: 40px;
    border: 1px solid #2b71b9;
    margin: 0 auto;
    margin-top: 5px;
}

.search input{
    width: 160px;
    height: 38px;
    border: none;
    background: inherit;
    padding: 0;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 300;
    font-size: 21px;
    outline: none;
}

.search input::placeholder {
    color: #2b71b9;
    font-size: 21px; 
}

.search button{
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    float: right;
    margin: 4px;
    background: #2b71b9;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}


.cart{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    border: none;
    background:white;
    background-image: url(img/basket.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.products-cart{
    display: block;
    position: absolute;
    background-color: #2b71b9;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: inherit; 
}


.submenu {
    display: none;
    position: absolute;
    margin-left: -1px;
}

.submenu li {
    float: none;
    border: none;
    width: 286px;
    display: block;
}

.submenu a {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 30px;
    background-color: #2b71b9;
    color: white;
}

.submenu > li > a:hover {
    background-color: white;
    color: #2b71b9;
    border: none;
}

.menu > li:hover > nav > .submenu {
    display: block;
}

.menu > li:hover .submenu:after {
    display: block;
    position: absolute;
    top: -29px;
    left: 123px;
    content: "\f078";
    font-family: "FontAwesome";
    color: #F9F0DA;
    font-size: 8px;
    font-weight: 900;
}

