* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/patt.png);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row:after, .menu:after, .btn-search::after, form::after, .basket:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    ;
    padding: 25px 0;
}

.col-md-3 {
    width: 25.6%;
}

.col-md-6 {
    width: 48.8%;
}

[class*="col-"] {
    float: left;
}

.logo {
    margin-top: 7px;
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2b71b9;
}

.menu li:last-child {
    border-right: 1px solid #2b71b9;
}

.menu a {
    display: block;
    text-decoration: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    color: #2b71b9;
    font-size: 21px;
}

.menu a:hover {
    background-color: #2b71b9;
    color: white;
}

.search {
    width: 86.6%;
}

.basket {
    width: 13.4%;
    position: relative;
    top: -30px;
    left: 260px;
}

.search-form {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

.search input {
    width: 200px;
    height: 40px;
    position: absolute;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 300;
    font-family: inherit;
    color: #2b71b9;
    border-style: solid;
    border-color: #2b71b9;
    border-width: 1px;
    background-color: inherit;
}

.search input::placeholder {
    color: #2b71b9;
}

.btn-search {
    float: left;
    top: 5px;
    position: relative;
    left: 164px;
}

.btn-search button {
    height: 30px;
    width: 30px;
    padding: 0;
    background: #2b71b9;
    cursor: pointer;
    border-style: none;
}

.basket button {
    height: 40px;
    width: 40px;
    padding: 0;
    background: white;
    cursor: pointer;
    border: none;
}

.number {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50px;
    background-color: #2b71b9;
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: inherit;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.submenu {
    display: none;
    position: absolute;
    margin-left: -1px;
}

.submenu li {
    float: none;
    border: none;
    width: 293px;
    display: block;
}

.submenu a {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 30px;
    background-color: #2b71b9;
    color: white;
}

.submenu>li>a:hover {
    background-color: white;
    color: #2b71b9;
    border: none;
}

.menu>li:hover>nav>.submenu {
    display: block;
}

.menu>li:hover .submenu:before {
    display: block;
    position: absolute;
    top: -29px;
    left: 123px;
    content: "\f078";
    font-family: "FontAwesome";
    color: #F9F0DA;
    font-size: 8px;
    font-weight: 900;
}